.navigation-container {
  width: 100%;
  height: 100px;
  background-color: rgba(255,255,255,1);
  position: fixed;
  box-shadow: 0px 0px 3px rgb(0, 0, 0, .5);
  transition: background-color .1s ease-in;
  z-index: 1000;
  top: 0%;
}

.navIsAtTop{
  /* height: 100px; */
  background-color: rgba(255,255,255,1);
  
}

.navIsNotAtTop{
  /* height: 80px; */
  background-color: rgba(255,255,255,.7);
  
}

.logo-container{
  height: 60px;
  width: 120px;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 5%;
}
.logo{
  position: relative;
  width: 100%;
}

.navigation-container a, .navigation-container li{
  list-style: none;
  color: #c62271;
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
}
.navigation-container a.active-nav{
  border-bottom: 2px solid #c62271;
  font-weight: 900;
}
.navigation-container a:hover, .navigation-container a:focus {
  border-bottom: 2px solid #c62271;

}

.navigation-container ul {
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: 0px;
  margin-left: 160px;
  /* top: 40%; */
  /* left: 30%; */
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  font-size: 1em;
  /* letter-spacing: 1.5px; */
}

.slide-container{
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px 1fr 1fr 100px;
  grid-template-areas:
  '. slides slides . textblock textblock .'
  '. slidecontrols slidecontrols . textblock textblock .';
  margin-top: 200px;
  overflow: hidden;
}

@media screen and (max-width: 700px){
  .slide-container{
    display: grid;
    column-count: 1;
    grid-template-areas:
    '. slides slides slides slides slides .'
    '. slidecontrols slidecontrols slidecontrols slidecontrols slidecontrols .' 
    '. textblock textblock textblock textblock textblock .';
    margin-top: 200px;
    overflow: hidden;
  }
  
}

.slide{
  width: 100%;
  /* height: 500px; */
  overflow: hidden;
  position: absolute;
  left: 100%;
  opacity: 1;
  transition: left .5s ease;
}
.slide img{
  width: 100%;
}
.slides-box{
  grid-area: slides;
  position: relative;
  overflow: hidden;
  height: 300px;
  
}
.slide-controls{
  position: relative;
  grid-area: slidecontrols;
  text-align: center;
}
.slide-control{
  display: inline-block;
  border: none;
  width: 30px; 
  height: 4px; 
  background:#ff7bbb;
  margin: 10px 20px;
  cursor: pointer;
  transition: background .5s ease;
}
.slide-control:hover{
  background: #c62271;
}

.slide-control-active{
  background: #c62271;
}

.home-text-container{
  grid-area: textblock;
  position: relative;
}
.cta-home{
  width: 80%;
  position: absolute;
  bottom: 25px;
  background: white;
  border: 4px solid #ff7bbb;
}
.cta{
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px;
  transition: background .5s ease;
  cursor: pointer;
}

.cta:hover{
  background: #c62271;
  color: white;
}
.slide-visibility {
  display: none;
  visibility: hidden;
}
.slide-current{
  left: 0px;
}
.slide-next{
  left: 100%;
}
.slide-previous{
  left: -100%;
}

.services-container{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-areas: 
  '. services-title services-title .'
  '. left-services right-services .'
  '. services-btn-container services-btn-container . ';
  
}
.services-title{
  grid-area: services-title;
  padding: 50px 0px 0px 0px;
  
}
.services-list{
  padding: 30px;

}
.services-list ul{
  list-style: none;
  margin: 20px 0px;
  padding: 0px;
}
.left-services{
  grid-area: left-services;
}
.right-services{
  grid-area: right-services;
}

.services-btn-container{
  grid-area: services-btn-container;
}

.cta-services{
  width: 50%;
  background: white;
  border: 4px solid #ff7bbb;
  /* margin-left: 25%; */
  margin-top: 2em;
}